@use "./Variables" as *;
@use "./Global" as *;

/* Root container for the app */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  margin : 0 auto;
  width: 100%;
  max-width: 1600px;
  height: auto;
}
