@use "./Variables" as *;
@use "./Global" as *;

.course-card {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 10px;

    width: 755px;
    height: 180px;

    gap: 16px;
    border-radius: 45px;
    border: 2px solid #000000;
    box-shadow: 1px 5px 0 #000;
    overflow: auto;
}
.course-content {
    margin: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .course-title {
        font-size: 1.5rem;
        font-weight: 600;
        color: #000000;
        margin: 0 0 5px 0;
    }

    .course-info-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        flex-wrap: wrap;
    }

    .course-info {
        display: flex;
        margin: 0;
        flex-wrap: wrap;
        gap: 20px;
        color: #6b7280;
        font-size: 14px;
        align-items: center;
    }
}

.course-action{
    margin-bottom: 80px;
}
