@use "./Variables" as *;
@use "./Global" as *;

.apply-filters-btn {
  margin-top: 0.5rem;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  background: $color-primary;
  color: #fff;
  border: none;
  font-weight: 600;
  font-family: $font-family-content;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s;

  &:hover {
    background: darken($color-primary, 8%);
  }
}
