@use "./Variables" as *;
@use "./Global" as *;

header.navbar {
    width: 100vw;
    min-width: 100%;
    left: 0;
    right: 0;
    position: relative;
    box-sizing: border-box;

    .navbar-container {
        margin: 0 auto;
        width: 100%;
        max-width: 1600px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $color-secondary;
    padding: 1rem;

    .logo {
        color: black;
        font-family: $font-family-content;
    }

    .nav-links {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-family: $font-family-content;

        a {
            color: black;
            text-decoration: none;
        }

        .nav-btn {
            display: none;
        }
        .auth-btn {
            background: transparent;
            color: white;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            text-decoration: none;
            transition: background 0.3s ease;
            &:hover {
                background: $color-primary;
            }
        }
    }

    .nav-btn {
        background: none;
        border: none;
        color: black;
        font-size: 1.5rem;
        cursor: pointer;
        display: none;
    }

    @media (max-width: 768px) {
        .nav-links {
            position: fixed;
            top: 0;
            right: -100%;
            flex-direction: column;
            background: $color-secondary;
            height: 100vh;
            width: 60%;
            padding: 2rem;
            transition: right 0.3s ease-in-out;
            z-index: 10;

            .nav-close-btn {
                position: absolute;
                top: 1.5rem;
                right: 1.5rem;
                display: block;
                background: none;
                border: none;
                font-size: 2rem;
                color: black;
                cursor: pointer;
                z-index: 20;
            }
        }

        .nav-links.responsive_nav {
            right: 0;
        }

        .nav-btn {
            display: block;
        }
    }
}
